# Node.js modules
node_modules/

# Логи npm
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Вихідні збірки
dist/

# Налаштування редакторів
.vscode/
.idea/

# Системні файли macOS/Windows
.DS_Store
Thumbs.db

# ENV-файли з секретами
.env

index.html